body {
  font-family:'PT Sans', sans-serif !important;
}

.encabezado { 
    font-family: "PT Sans", sans-serif !important;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.4;
    display: inline;
    word-spacing: 0px;
    margin: 0px;
    padding: 0px;
    color: #1d1d1b;
    color: rgb(29, 29, 27);  
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0);
    text-transform: uppercase;
    text-decoration: none solid rgb(29, 29, 27);
    text-align: center;
    text-indent: 0px;
}

h2 .encabezado2 {
    font-family: 'PT Sans', sans-serif !important;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    vertical-align: baseline;
    letter-spacing: 1px;
    word-spacing: 0px;
    margin: 0px;
    padding: 0px;
}

.contenedor-img img {
    transition: 1s ease;
    -webkit-transition:all 0.9s ease-in-out;  
    -moz-transition:all 0.9s ease-in-out;  
    -o-transition:all 0.9s ease-in-out;  
    -ms-transition:all 0.9s ease-in-out; 
    width: 100%;
  }

.contenedor-img:hover img {
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -ms-transform:scale(1.05);
    -o-transform:scale(1.05);
    transform:scale(1.05);
  }

.contenedor-img { 
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

.texto1 {
  font-family: 'PT Sans', sans-serif !important;
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: normal;
  margin: 0px;
  padding: 0px;
  text-align: justify;
  }

.hi {
  font-family: 'PT Sans', sans-serif !important;
  font-weight: 400;
  letter-spacing: normal;
  word-spacing: normal;
}

span {
  font-family: 'PT Sans', sans-serif !important;
  font-weight: 800;
  letter-spacing: normal;
  word-spacing: normal;
}

footer {
  font-family: 'PT Sans', sans-serif !important;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: normal;
  word-spacing: normal;
  margin: 0px;
  padding: 0px;
}

.tres {
  padding-bottom: 0px;
}

.cuatro {
  margin-bottom: 0px;
}

.card-body { 
  flex: none;
}

.about {
  width: 593px;
  height: 310px;
  object-fit: cover;
  object-position: 50%;
  
}

.list-group-item {
  font-size: 19px;
  padding-left: 0px;
  padding-right: 0px;
}

.card-title {
  margin-bottom: 0px;
  justify-content: center;
  align-items: baseline;
  font-weight: 800;
}

.uno {
  padding: 16px 0 16px 0;
}

.nav-link {
  font-size: 18px;
}

.card {
  width: 35rem;
}

.bf {
  font-weight: 800;
}

.imagen-fondo {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.texto-superpuesto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(247, 244, 244);
}

.contact-section {
  font-weight: 400;
}

.p-mail {
  font-size: 19px;
  font-weight: 800;
}
